/* Globals */
html,
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.15s;
}

a:hover {
    color: orange;
}

/* Components */
header {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 48px;
    font-weight: bold;
    background: url(../img/blog.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

header span {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
}

nav {
    text-align: center;
}

nav .nav-item {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}


